name: Release

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: macos-latest

    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: setup JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17

      - name: Build
        run: ./gradlew assemble --stacktrace -PgithubUser=${{ secrets.PUBLISH_USER }} -PgithubToken=${{ secrets.PUBLISH_TOKEN }}

      - name: Release library
        run: ./gradlew beyondlogin:publish -PgithubUser=${{ secrets.PUBLISH_USER }} -PgithubToken=${{ secrets.PUBLISH_TOKEN }}
